.word{
    font-style: italic;
    text-align: center;
    font-weight: 600;
    color: black;

}
.Container-Imgs{
    display: flex;
    flex-direction: row;
    justify-content: center;
    flex-wrap: wrap;
    
}
.container-img{
    display: flex;
    flex-direction: column;
    justify-content: center;
    background-color: rgb(233, 233, 233);
    margin: 2px;
    width: 200px;
    height: 250px;
    
}
.Feature{
    text-decoration: underline;
    color: black;
    font-weight: 600;
    margin-left: 15px;
}
.Container-Items{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}
.container-button{
    display: flex;
    align-content: flex-end;
    justify-content: center;
    margin: 10px;
}
.bloque{display:block}
.favorite-button{
    color: rgb(255, 203, 5);
    background: rgb(197,32,24);
    border-image-width: 10px;
  }

.container{
    background-color: #cecece;
}