<div class="container" *ngIf="infoPokemon.name !== undefined">
    <h1 class ="word">{{infoPokemon.name.toUpperCase( )}}</h1>
    <h3 class="Feature">Appearance</h3>
    <div class="Container-Imgs">
        <div class="container-img">
            <img src={{infoPokemon.sprites.front_default}} alt="img-front" class="img">
            <p class ="word">Front </p>
        </div>
        <div class="container-img">
            
            <img src={{infoPokemon.sprites.back_default}} alt="img-back" class="img">
            <p class ="word">Back</p>
        </div>

    </div>
    <h3></h3>
    <h3 class="Feature">Abilities</h3>
    <div class="Container-Items">
        <div *ngFor="let Ability of infoPokemon.abilities">
            <li type="square" class ="word">{{Ability.ability.name}}</li>
        </div>
    </div>


    <h3 class="Feature">Type</h3>
    <div class="Container-Items">
        <div *ngFor="let Type of infoPokemon.types">
            <li type="square" class ="word">{{Type.type.name}}</li>
        </div>
    </div>


    <div *ngIf="infoPokemon.held_items.length !== 0">
        <h3 class="Feature">Held items</h3>
        <div class="Container-Items" >
            <div *ngFor="let held of infoPokemon.held_items">
                <li type="square" class ="word">{{held.item.name}}</li>
            </div>
        </div>
    </div>

    <span class="bloque">  &nbsp; </span>

    <div class="container-button" >
        <button mat-fab matTooltip="Warn" aria-label="Example fab with a heart icon" class="favorite-button" (click)="onChangeIcon(infoPokemon.name)">
            <!-- <mat-icon >{{icon}}</mat-icon> -->
            <div *ngIf="ChoiseIcon(); else loggedOut">
                <mat-icon >star</mat-icon>
              </div>
              
              <ng-template #loggedOut>
                <mat-icon >star_border</mat-icon>
              </ng-template>
        </button>
    </div>
</div>


