.card-dialog{
  width: 900px;
  max-height: 900px;
  display: flex;
  flex-wrap: wrap;
}
.img-dialog-container{
  width: 250px;
  max-height: 900px;
  background-color: rgb(234, 234, 236);
  display: flex;
  justify-content: center;

}
.card-dialog-container{
  position: relative;
  width: 650px;
  max-height: 900px;
  background-image:linear-gradient(to bottom ,#242323 ,#383735 ,#140303);
  justify-content: center;
}
::ng-deep .mat-dialog-container {
  background-color: transparent; /* Blanco */
  margin: 0;
}
img{
  margin : 10px;
  filter: saturate(1.5) brightness(0.89) contrast(1.2);
}
h1{
  margin-top: 10px;
}
p{
  text-align: justify;
  font-size: 10px;
  align-items: center;
}
.header-container{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 12px;
  text-align: center;
}
.line-1{
  border: none;
  height: 1px;
  background-color: rgb(190, 190, 190);
  margin: 0;
}
.dialog-container-detaills{
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  margin: 5px;
  text-align: center;
}
h2{
  font-size: 13px;
  margin : 0;
  padding: 0;
  line-height: 1.5em
}
