<header>
  <div class="container">
    <a href="#" routerLink="/pokeAlexandert/poke-list" class="logo"> PokemonStore </a>
    <nav>
      <ul>
        <li>
          <a routerLink="/pokeAlexandert/poke-list" routerLinkActive="activebutton" ariaCurrentWhenActive="page" class="button"
            >Cart!!</a
          >
          <a routerLink="/pokeAlexandert/favorites" routerLinkActive="activebutton" ariaCurrentWhenActive="page" class="button"
            >favorites</a
          >
        </li>
      </ul>
    </nav>
  </div>
</header>
