<mat-card class="dialog-card" *ngIf="character">
  <div class="img-container">
    <img class="img" mat-card-image src={{character.image}} alt="">
  </div>
  <div class="content">
    <section class="section">
      <mat-card-title class="title">{{character.name}}</mat-card-title>
      <span class="status">
        <span 
          class="status-icon"
          [ngClass]="{'alive': character.status === 'Alive', 
            'dead': character.status === 'Dead', 
            'unknown': character.status === 'unknown'}" 
        ></span>
        {{character.status}} - {{character.species}}
      </span>
    </section>
    <section class="section">
      <span class="text-gray">Última ubicación conocida:</span>
      <span>{{character.location.name}}</span>
    </section>
    <section class="section">
      <span class="text-gray">Visto por primera vez en:</span>
      <span>{{character.origin.name}}</span>
    </section>
  </div>
  <mat-card-actions class="buttons">
    <ng-container *ngIf="favorite; else noFavorite">
      <button color="warn" mat-fab mat-dialog-close='{{data.character.id}}'  aria-label="favorite button">
        <mat-icon>favorite</mat-icon>
      </button>
    </ng-container>
    <ng-template #noFavorite>
      <button color="accent" mat-fab mat-dialog-close='{{data.character.id}}' aria-label="favorite button">
        <mat-icon>favorite</mat-icon>
      </button>
    </ng-template>
  </mat-card-actions>
</mat-card>
