.navbar{
    justify-content: space-between;
    background-color: rgb(6, 6, 69);
}

.navbar-nav{
    display: flex;
    flex-direction: row;
    gap: 1rem;
}
.example-button-row {
    display: flex;
    flex-direction: row;
    gap: 1rem;
    
  }
  
  .example-button-row .mat-mdc-button-base {
    margin: 8px 8px 8px 0;
  }
  .mat-stroked-button{
    text-transform: uppercase;
    padding-right: 1rem;
  }
