<mat-toolbar color="primary" class="navbar">
  <div>
  <img src="../../../assets/images/pokelogo.png" alt="pokedex" width="80" height="60">
  </div>
  
        <div class="example-button-row">
          <button mat-stroked-button color="basic" [routerLink]="['/home']">Pokemons</button>
          <button mat-stroked-button color="basic" routerLinkActive="active" [routerLink]="['/favorite']">Favourites</button>
          <button mat-stroked-button color="basic" [routerLink]="['/home']">Other</button>
        </div>
    
</mat-toolbar>

     <!--
         <div class="nav-item" routerLinkActive="active">
  <span class="nav-link" [routerLink]="['/home']">Inicio</span></div>

  <div class="nav-item" routerLinkActive="active">
  <span class="nav-link" [routerLink]="['/']"> Favourites </span></div>
     -->