.formWrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px;
}

.pokeForm {
  display: flex;
  align-items: center;
}

.pokeForm span {
  margin-right: 10px;
  font-size: 20px;
}

.pokeForm input {
  font-size: 20px;
}

.mat-icon{
    padding-left: 15px;
}