
<div class="body">

  <div class="header">
    <h1>Pokédex</h1>

    <mat-paginator [length]= num_pokemon
                [pageSize]="16"
                (page)="onChangePage($event)"
                [pageSizeOptions]="[ 16, 32, 64]"
                [pageIndex]="pageindex"
                aria-label="Select page"
                [showFirstLastButtons]="showFirstLastButtons"
                class="paginator">
    </mat-paginator>
  </div>


  <div class="container_cards">

    <div *ngFor =" let pokemon  of array_pokemon ">

        <mat-card class="example-card" (click) = "onOpenDialog(pokemon)">
          <mat-card-header>
            <div mat-card-avatar class="header-image"></div>
            <mat-card-title style="text-transform:uppercase;">Nº:{{ pokemon.id}} {{pokemon.name}}</mat-card-title>
          </mat-card-header>
          <img mat-card-image src={{pokemon.sprites.front_default}} alt= "image of ${pokemon.name}" >
          <mat-card-content>

          </mat-card-content>
          <mat-card-actions>


            <!-- <div class="button-container">
              <button class="button" mat-fab aria-label="Example icon button with a heart icon"
              (click)="onAddFavorites(pokemon.name)">
                <mat-icon>favorite</mat-icon>
              </button>
            </div> -->


          </mat-card-actions>
        </mat-card>

    </div>
  </div>

  <mat-paginator [length]= num_pokemon
                [pageSize]="16"
                (page)="onChangePage($event)"
                [pageSizeOptions]="[ 16, 32, 64]"
                [pageIndex]="pageindex"
                aria-label="Select page"
                [showFirstLastButtons]="showFirstLastButtons"
                class="paginator">
  </mat-paginator>

</div>





<!-- <app-card *ngIf="objectPokemon; else noPokemon"
  (onChangePokemon)="onChangePokemon($event)"
  [namePokemon]="objectPokemon.name"></app-card>
  <ng-template #noPokemon>
    No hay pokemon
  </ng-template> -->
