
.grid-card {
  width: 150px;
  background-color: white;
  color: black;
}

.grid-card mat-card-header{
  width: 100%;
}

.grid-card mat-card-title{
  display: flex;
  justify-content: space-between;
  text-transform: capitalize;
  width: 120px;
}

.grid-card mat-card-subtitle{
  color: black;
}

.grid-card ul{
  list-style-type: none;
  display: flex;
  padding: 0;
  justify-content: space-around;
}

.grid-card li p{
  padding: 2px 5px;
  border-radius: 10px;
  color: white;
}