<h1>INFO DE POKEMON</h1>

<!--
<app-pokemon-basic-info [pokemonName]="objectPokemon?.name"></app-pokemon-basic-info>
-->

<form [formGroup]="getNewPokemonFormGroup">
    <input type="text" formControlName="newPokemonId">
</form>
<button (click)="changePokemon()">Obtener información del pokemon</button>

<app-pokemon-basic-info *ngIf="objectPokemon, else NonPokemonBasicInfo" [pokemonName]="objectPokemon.name" [pokemonImage]="objectPokemon.sprites.front_default"></app-pokemon-basic-info>
<ng-template #NonPokemonBasicInfo>
    Sin información básica del pokemon
</ng-template>


<app-pokemon-general-info *ngIf="objectPokemon, else NonPokemonGeneralInfo" [pokemonStats]="objectPokemon.stats"></app-pokemon-general-info>
<ng-template #NonPokemonGeneralInfo>
    Sin información general del pokemon
</ng-template>

