<div>
    <div *ngIf="arrayPokemon;">
        <h3> Pokemon List </h3>
        <div *ngFor="let pokemon of arrayPokemon">
            <h4> {{pokemon.name}} </h4>
            <div class="containerPokemon">
                <div>
                    <ng-container *ngFor="let ability of pokemon.abilities">
                        <span> {{ability.ability.name}} </span> <br />
                    </ng-container>
                </div>

                <div>
                    <img src={{pokemon.sprites.front_default}} />
                    <img src={{pokemon.sprites.back_default}} />
                </div>
            </div>


        </div>

    </div>
</div>