.lista-pokemon{
  list-style: none;
  margin: 0;
  padding: 0;
  width: auto;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
}
.lista-pokemon button{
  padding: 4px 10px;
  margin: 10px;
  background-color: #fff;
  border-radius: 5px;
  border: 2px solid #AAF;
  box-shadow: none;
  cursor: pointer;
}
.lista-pokemon button:hover{
  background-color: #EAEAEA;
}

.page-indicators{
  display: flex;
  justify-content: center;
  align-items: center;
}
.page-indicators button, .btn-page{
  margin: 10px;
  background-color: #33F;
  border: none;
  color: #FFF;
  padding: 5px 12px;
  border-radius: 5px;
  cursor: pointer;
}
.page-indicators button:hover{
  background-color: #55F;
}
.btn-page{
  cursor: default;
  background-color: #FFF;
  color: black;
  padding: 5px;
}