<h1 mat-dialog-title>{{infoPokemon.name}}</h1>
<div >
    <div class="contentDialog">
        <h3 class="title"> Default: </h3>
        <img src={{infoPokemon.sprites.front_default}} />
        <img src={{infoPokemon.sprites.back_default}} />
        <img src={{infoPokemon.sprites.front_shiny}} />
        <img src={{infoPokemon.sprites.back_shiny}} />
    </div>
    <div class="contentDialog">
        <h3 class="title"> Female: </h3>
        <img src={{infoPokemon.sprites.front_female}} />
        <img src={{infoPokemon.sprites.back_female}} />
        <img src={{infoPokemon.sprites.front_shiny_female}} />
        <img src={{infoPokemon.sprites.back_shiny_female}} />


    </div>

</div>
<div mat-dialog-content class="contentDialog">
    <div>
        <h3> Height: <span>{{infoPokemon.height}}</span> </h3>
    </div>
    <div>
        <h3> Weight: <span>{{infoPokemon.weight}}</span> </h3>
    </div>

    <div>
        <h3 class="title"> Abilities: </h3>
        <ul>
            <ng-container *ngFor="let ability of infoPokemon.abilities">
                <li> {{ability.ability.name}} </li>
            </ng-container>
        </ul>
    </div>
</div>
<div mat-dialog-actions class="favorite">
    <button (click)="addToFavorites(infoPokemon)" mat-fab matTooltip="Warn" color="warn" aria-label="Example fab with a heart icon">
        <mat-icon>favorite</mat-icon>
      </button>
</div>

