<link rel="stylesheet" href="pokemon.component.css">
<header>
    <img src="https://external-preview.redd.it/tQged7mKJ3cUpNMq5IMeceZvyKP3cTyHqhNmKEQ0Vv8.png?width=640&crop=smart&auto=webp&s=5fc89334e792e2c9b294d1d328bf522cdede4cdf" alt="logo">
    <h2 class = "nota"> Lista de Pokemones!! </h2>
</header>

    <!-- <router-outlet></router-outlet> -->
    <app-pokemon-child *ngIf="objectPokemon; else noPokemon"
    (onChangePokemon)="onChangePokemon($event)" 
    [namePokemon]="objectPokemon.name"></app-pokemon-child>
    <ng-template #noPokemon>
        No hay pokemon
    </ng-template>
    <!-- <app-pokemon-child [namePokemon]="objectPokemon?.name"></app-pokemon-child> -->
    <app-pokemon-child2 *ngIf="objectPokemon" [moves]="objectPokemon.moves"></app-pokemon-child2>

<div>
    <h2> :D </h2>
</div>