
<div mat-dialog-actions class="dialog-container"  >
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image"></div>
      <mat-card-title>
        <h1 class="title">Ficha Tecnica: {{cardData.name}}</h1>
        <mat-card-actions>
          <img class="btn-añadir-favorito" (click)="addFavoritePokemon(cardData)" src="https://cdn.icon-icons.com/icons2/851/PNG/512/poke_trainer_two_star_icon-icons.com_67511.png" alt="" width="35px">
        </mat-card-actions>
      </mat-card-title>
    </mat-card-header>
    <div class="container-pokemon">
      <img mat-card-image [src]="cardData.sprites.front_default" alt="Imagen pokemon" >
    </div>
    <mat-card-content>
      <p>
        Peso = {{cardData.height}}
      </p>
      <p>Ancho = {{cardData.weight}}
      </p>
      <h4>Habilidades:</h4>
      <div *ngFor="let ability of cardData.abilities">
        <p>
          {{ability.ability.name}}
        </p>
      </div>

    </mat-card-content>

  </mat-card>
</div>
