
.example-card {
  max-width: 300px;
  max-height: 450px;
  margin-bottom: 8px;
  border: solid 2px rgb(176, 185, 230);
}

.title{
  text-decoration-color: firebrick;
  font-weight: bold;
  display: flex;
  justify-content: center;
}

.mat-card-actions img{
  size: 4px;
}

.add-favorite{
  width: 8px;
  height: 8px;
}
.btn-añadir-favorito{
  cursor: pointer;
}
.mat-card-content{
  font-size: bold;
}
.weight{
  border-radius:  4px;
  padding: 2px;
}
.height{
  border-radius:  4px;
  padding: 2px;
}

