.dialog-container{
  background-color: bisque;
  border-color: black;
}

.title{
  text-decoration-color: firebrick;
  font-weight: bold;
  display: flex;
  justify-content: center;
}
.example-card {
  max-width: 400px;
  margin-bottom: 8px;
}

.mat-card-actions img{
  size: 4px;
}

.add-favorite{
  width: 8px;
  height: 8px;
}
.btn-añadir-favorito{
  cursor: pointer;
}

