<div class="container">
  <div class="header">
    <mat-toolbar>
      <span class="logo">Rick & Morty</span>
      <span class="spacer"></span>
      <div class="menu">
        <a mat-button routerLink="/rickandmorty">Inicio</a>
        <a mat-button routerLink="/rickandmorty/favorites">Favoritos</a>
        <a mat-button routerLink="/ejemplo">Ejemplo</a>
      </div>
    </mat-toolbar>
  </div>
  <main class="main">
    <router-outlet></router-outlet>
  </main>
  <div class="footer">
    Footer - Johan Wilfredo Huaman Mendoza
  </div>
</div>