<div class="body">

<p>
  <mat-toolbar class="nav-bar">
    <mat-toolbar-row>
      <span>
        <img class="img-logo" src="https://upload.wikimedia.org/wikipedia/commons/thumb/9/98/International_Pok%C3%A9mon_logo.svg/2560px-International_Pok%C3%A9mon_logo.svg.png" alt="Logo Pokemon">
      </span>
      <span class="example-spacer"></span>

    </mat-toolbar-row>

    <mat-toolbar-row>
      <span class="example-spacer"></span>
      <div class="example-button-row">
        <button mat-stroked-button routerLink="/home" >Home</button>
        <button mat-stroked-button routerLink="/cards">Pokédex</button>
        <button  mat-stroked-button routerLink="/cards">Favoritos</button>
      </div>

    </mat-toolbar-row>
  </mat-toolbar>
</p>


<router-outlet></router-outlet>

<footer id="footer" >
  <p>Autor: Aler Sebastian Olivares Camero.    Abril - 2023</p>
</footer>

</div>






