.example-spacer {
  flex: 1 1 auto;
}

#footer {
  /* background-color: black; */
  padding: 20px;
  bottom: 0px;
  color: white;
  font-size: medium;

}
.img-logo{
  height: 120px;
  margin-top: 70px;
}
.example-button-row button,
.example-button-row a {
  margin-right: 8px;
}
.nav-bar{
  /*background-color: #B22222;*/
  background: rgb(178,34,34);
background: linear-gradient(33deg, rgba(178,34,34,1) 0%, rgba(178,34,34,1) 47%,
 rgba(0,0,0,1) 47%, rgba(0,0,0,1) 52%, rgba(255,255,255,1) 52%, rgba(255,255,255,1) 100%);
}
button{
  /* background-color: #FFA500; */
  color: #FFA500;
  font-family: 'PokemonSolid';
  font-size:x-large;
}
.body{
  background-color: black;
  color: #FFFFFF;
}
