.example-spacer {
    flex: 1 1 auto;
  }
  
  #footer {
    background-color: #f3e5f5;
    padding: 20px;
    bottom: 0;
  
  }
.logo{
    display: flex;
    margin: 5px;
}
.button{
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 80px;
    height: 58px;
    margin-left: 3px;
    margin-right: 3px;
    color: rgb(140,46,46);
    background-color:#e2e2e2;

}
.button:hover{
  cursor: pointer;
  background-color:#ffffff;
}
.bar{
  
  background: rgb(140,46,46);
  background: linear-gradient(45deg, rgba(140,46,46,1) 25%, rgba(247,208,60,1) 75%);
}