.pokemon-display{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
    max-height: 1000px;
}
.pokemon-wrapper{
    margin: 5px 90px;
    border-radius: 15px;
    justify-content: center;
    align-items: center;
    border: 1px solid #000000;
    max-height: 1300px;
    overflow: hidden;
}
.pokemon-paginator{
    display: flex;
    width: 100%;
    margin: 0px;
    
    background-color: #8B1515;
}

::-webkit-scrollbar {
    width: 1vw;
  }
  * {
    scrollbar-width: thin;
  }
  
  *::-webkit-scrollbar-thumb {
    background-color: #c2c2c2;
    border-radius: 10px;
  }
  
  *::-webkit-scrollbar-thumb:hover {
    background-color: #a1a1a1;
  }
  
  *::-webkit-scrollbar-track {
    background-color: #f2f2f2;
  }