<div class="grid-container">
  <mat-grid-list cols="4" rowHeight="2:2">
    <ng-container *ngFor="let character of characters">
      <mat-grid-tile  
        class="cell"
        (mouseover)="toggleHover(character.id)"
        (mouseleave)="toggleHover(null)"
        (click)="openDialog(character)"
      >
        <img src={{character.image}} class="cell-img" alt="character image">
        <div class="cell-content" [ngClass]="{'cell-active':hoveredId === character.id}">
          <h3 class="cell-title">{{character.name}}</h3>
        </div>
      </mat-grid-tile>
    </ng-container>
  </mat-grid-list>
</div>