<div class="poke-dialog-header">
  <h1 class="poke-dialog-titulo">{{ pokeDialogInfo.name.toUpperCase() }}</h1>
  <!-- <ng-container *ngFor="let typeDir of arrPokemonTypeDir"> -->
    <!-- <img src="../../shared/pokemonTypeSprite/bug.png" alt="" /> -->
  <!-- </ng-container> -->
</div>
<div>
  <div class="container-split">
    <div class="contenedor-hijo ">
      <img class = "images" src="{{ pokeDialogInfo.sprites.front_default }}" alt="" />
      <img class = "images" src="{{ pokeDialogInfo.sprites.back_default }}" alt="" />
    </div>
    <div class="contenedor-hijo">
      <div class= "general-info">
        <h2>N° Pokedex: {{pokeDialogInfo.id}}</h2>
        <p></p>
      </div>
    </div>
  </div>
  
  <!-- <div class="mat-button" (click)="onClickClose()">Close</div> -->
  <div class="mat-button" (click)="onClose()">Back</div>
  <button mat-raised-button color="primary" (click)="makeFavoriteAction()">
    Add to Fav
  </button>
</div>