<div class="visualizer-container">
  <div class="visualizer-media">
    <button (click)="prevButton()">
      <span class="material-symbols-outlined">arrow_left</span>
    </button>
    <div class="image-wrapper">
      <img src={{imgPokemon}} alt="">
    </div>
    <button (click)="nextButton()">
      <span class="material-symbols-outlined">arrow_right</span>
    </button>
  </div>

  <div class="pokemon-info">
    <app-ejemplo-child2 *ngIf="objectPokemon"
    [namePokemon]="objectPokemon.name" 
    [abilities]="objectPokemon.abilities"
    [typePokemon]="objectPokemon.types"
    ></app-ejemplo-child2>
  </div>
</div>
