<ng-container *ngIf="characters; else noCharacters">
  <div class="page-header">
    <h1>Personajes</h1>
    <div class="paginacion">
      <mat-paginator #paginator
        class="paginator"
        (page)="handlePageEvent($event)"
        [length]="count"
        [pageSize]="pageSize"
        [showFirstLastButtons]="true"
        [hidePageSize]="true"
        [pageIndex]="pageIndex"
        [disabled]="disabled"
        aria-label="Select page">
  </mat-paginator>
    </div>
  </div>
  <app-character-list
    [characters]="characters"
    [favorites]="favorites"
    (addFavorite)="addFavorite($event)"
    (removeFavorite)="removeFavorite($event)"
  ></app-character-list>
</ng-container>
<ng-template #noCharacters>No hay personajes...</ng-template>
