.characters{
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.footer, .header, .main{
  padding: 2rem 5rem 0;
}

.page-header{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 2rem;
}

::ng-deep .mat-form-field-wrapper{
  padding: 0;
  margin: 0;
}

.page-header .mat-paginator{
  border-radius: 5px;
}
@media screen and (max-width: 600px) {
  .footer, .header, .main{
    padding: 2rem 2rem 0;
  }

  .page-header{
    flex-direction: column;
    margin: auto 1rem;
    box-sizing: border-box;
  }
  
  .page-header .mat-paginator{
    font-size: .5rem;
  }

  .mat-paginator, .form{
    margin-bottom: 1rem;
  }

  ::ng-deep .mat-paginator-container{
    justify-content: center !important;
    padding: 0 5px !important;
    min-height: auto !important;
  }
  ::ng-deep .mat-paginator-range-label{
    display: none !important;
  }
  ::ng-deep .mat-icon-button{
    width: 25px;
  }
  ::ng-deep .mat-paginator-icon{
    width: 18px !important;
  }
}