.header{
  background-color: crimson;
  color: beige;
  padding: 0px 20px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.header h1{
  margin-top: 10px;
}

.header h2{
  margin: 10px;
  color:burlywood;
}

.pokedex{
  padding: 20px;
  display: flex;
  flex-direction: row-reverse;
  justify-content: center;
  align-items: flex-start;
}

footer{
  background-color:brown;
  color: white;
  text-align: center;
  height: 50px;
  font-size: 22px;
  width: 100%;
  position: absolute;
  bottom: 0px;
  left: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
}