<div class="header">
  <h1>Clase de angular</h1>
  <h2>FormArray</h2>
</div>
<div class="pokedex">
  <app-ejemplo-child class="searchBox" *ngIf="objectPokemon; else noPokemon"
  (onChangePokemon)="onChangePokemon($event)"
  [namePokemon]="objectPokemon.name"></app-ejemplo-child>
  
  <app-visualizer class="visualizerBox" *ngIf="objectPokemon; else noPokemonImg"
  [imgPokemon]="objectPokemon.sprites.front_default"
  [idPokemon]="objectPokemon.id"
  [objectPokemon]="objectPokemon"
  (changeNextPokemon)="getNextPokemon($event)"
  (changePrevPokemon)="getPrevPokemon($event)"
  ></app-visualizer>

  <ng-template #noPokemon>
    No hay pokemon
  </ng-template>
  <ng-template #noPokemonImg>
    No hay pokemon image
  </ng-template>
  <!-- <app-ejemplo-child [namePokemon]="objectPokemon?.name"></app-ejemplo-child> -->
</div>

<div>
  Footer
</div>
