<div *ngIf="pokemon">
  <div class="pokemon-details">
    <div>
      <img src={{pokemon.sprites.other.home.front_default}} alt="pokemon img" >
    </div>
    <div>
      <h2>Detalles de {{pokemon.name}}</h2>
      <div>
        <p>Id: <span>{{pokemon.id}}</span></p>
        <p>Peso: <span>{{pokemon.weight}}</span></p>
        <p>Altura: <span>{{pokemon.height}}</span></p>
      </div>
      <h2>Habilidades</h2>
      <div [formGroup]="formGroupAbilities" class="abilities">
        <ng-container formArrayName="abilities">
          <div *ngFor="let ability of abilities['controls'], index as i">
            <input type="text" placeholder="Ingresa habilidad..." formControlName="{{i}}">
          </div>
        </ng-container>
        <button type="button" (click)="addAbility(null)">Agregar habilidad</button>
      </div>
    </div>
  </div>
</div>
