
  /* Navbar General */
  nav {
    display: flex;
    justify-content: space-between;
    padding: 0 24px;
    border: 2px solid var(--very-light-pink);
    background-color: #152437;
  }
  .logo {
    width: 160px;
    height: 80px;
    margin-right: 36px;
  }
  .navbar-left ul,
  .navbar-right ul {
    list-style: none;
    padding: 0;
    margin: 10px;
    display: flex;
    align-items: center;
    height: 60px;
  }
  .navbar-left {
    display: flex;
  }
  .navbar-left ul {
    margin-left: 12px;
  }
  .navbar-left ul li a,
  .navbar-right ul li a {
    text-decoration: none;
    color: white;
    border: 1px solid #2ff22d  ;
    padding: 8px;
    border-radius: 8px;
    font-weight: bold;
    margin: 8px;
  }
  .navbar-left ul li a:hover,
  .navbar-right ul li a:hover {
    border: 1px solid var(--hospital-green);
    color: var(--hospital-green);
  }
  .navbar-cart {
    position: relative;
  }
  .navbar-cart img{
    height: 60px;
    width: 100px;
  }

  .sign{
    color: beige;
    font-size: bold;
  }
