<div class="footer-content">

  <div>
    <i class="fa fa-phone fa-lg" aria-hidden="true"></i>
    <span>Call</span>
    <p>Claro: 978651743</p>
  </div>

  <div>
    <i class="fa fa-envelope-o" aria-hidden="true"></i>
    <span>Email</span>
    <p>171070@unsaac.edu.pe</p>
  </div>

  <div>

    <i class="fa fa-plus-square-o" aria-hidden="true"></i>
    <span>Social Networks</span>

    <p>

      <a href="https://www.facebook.com/">
        <i class="fa fa-facebook" aria-hidden="true"></i>
        Melanie Sullca
      </a> <br>

      <a href="https://github.com/Melanie279">
        <i class="fa fa-github" aria-hidden="true"></i>
        Melanie279
      </a> <br>

    </p>

  </div>

  <div>
    <i class="fa fa-copyright" aria-hidden="true"></i>
    <span>All rigths reserved</span>
    <p>&copy; Melanie279 Design | Melanie Indira</p>
  </div>

</div>
