.card {
    max-width: 250px;
    margin: 5px ;
    margin-bottom: 50px;
    width: 250px;
    height: 400px;
    align-items: center;
    justify-items: center;
    background-color: #cecece;
  }
  
  .example-header-image {
    background-image: url('https://www.pngmart.com/files/2/Pokeball-PNG-File.png');
    background-size: cover;
  }
  .Title{
      font-family: 'Times New Roman', Times, serif;
      font-size: x-large;
      font-style:inherit;
      margin: 10px;
  }
  .Flex-container-cards{
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
  }
  .card:hover {
    background-color: rgb(252, 230, 169);
    cursor: pointer;
  }
  .favorite-button{
    color: rgb(255, 203, 5);
    background: rgb(197,32,24);
    border-image-width: 10px;
  }
  .button{
    display: flex;
    justify-content: flex-end;
  }
  .Word{
    color: black;
  }