<ng-template #NonPokemonGeneralInfo>
    Sin información general del pokemon
</ng-template>

<ng-template #NonPokemonBasicInfo>
    Sin información básica del pokemon
</ng-template>

<div class="pokemonFormWrapp">
        
    <app-pokemon-basic-info *ngIf="objectPokemon, else NonPokemonBasicInfo" [pokemonName]="objectPokemon.name" [pokemonImage]="objectPokemon.sprites.front_default"></app-pokemon-basic-info>  
    <app-pokemon-general-info *ngIf="objectPokemon, else NonPokemonGeneralInfo" [pokemonStats]="objectPokemon.stats"></app-pokemon-general-info>
    
</div>