<div class="background">
    <div class="navBar">
        <div class="title">
            <h4> POKEAPI </h4>
        </div>
        <div>
            <ul class="items">
                <li>
                    <a class="navItem" routerLink="home"> Home </a>
                </li>
                <li>
                    <a class="navItem" routerLink="favorites"> Favorites </a>
                </li>
            </ul>
        </div>
        
    </div>
    
    <div class="content">
        <router-outlet></router-outlet>

    </div>
</div>







