.navItem {
    text-decoration: none;
    padding: 0rem 2rem 0rem 2rem;
    color: white;
}

.items {
    display: flex;
    list-style: none;
}

.items li {
    padding: 0.5rem;
}

.items li:hover{
    background-color: rgb(4, 4, 63);
}


.navBar {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0rem 2rem 0rem 2rem;
    color: white;
    position:sticky;
    top: 0;
    overflow: hidden;
    z-index: 2;
    background-color: #0A043C
}

.title {
    display: flex;
    align-items: center;
}

.containerPokemon {
    display: flex;
    align-items: center;
}

.background {
    background-color: #0A043C;
}
