<div class="body">
  <div class="menu-container">
    <p class="img-paragraph">
      <img src="https://raw.githubusercontent.com/PokeAPI/media/master/logo/pokeapi_256.png"
      alt="logo"
      class="img-logo">
    </p>
    <div class="body-text">
      <p>
      Esta aplicacion fue ralizada utilizando la API "PokeAPI".
      </p>
    </div>
    <p class="img-ilustration">
      <img src="https://m.media-amazon.com/images/M/MV5BNDcwZDc2NTEtMzU0Ni00YTQyLWIyYTQtNTI3YjM0MzhmMmI4XkEyXkFqcGdeQXVyNTgyNTA4MjM@._V1_.jpg"
      alt="logo">
    </p>

  </div>
</div>



