<script src="./favorite.js"></script>
<div class="card"  >
    <div class="img-card">
        <img src={{character.image}} >
        <div style="border: none;background-color:transparent;"
            class="favorite-icon-container"  (click)="onHeartClick()" [ngClass]="{'pulse': isPulsing}">
            <mat-icon>favorite</mat-icon>
        </div>
    </div>

    <div class="card-container">
        <!-- {{ pokemon.name }}-->
        <h1>{{ character.name }} </h1>
        <hr/>
        <div class="button-card">
            <button>Detallais</button>
        </div>
    </div>
    
</div>